<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="static/about.css">
</head>
<body>

<h1 style="font-size:360%;text-align:center;">Wildhacks 2025 Project
<br>
My Money, My Choice </h1>

<h1 style="font-size:200%;">About us: <br> </h1>


<p style="font-size:160%;"> Hello! We are "team us" of 4 people from all over the world, working on a website focusing on Financial Literacy
    improvement among our peers, college university students.  Through
         the "build your own
    adventure" features on the website,
    users will be able to learn more about credit and
    travel points, as well as credit history and how to improve it.
<br>
<br></p>


<h1 style="font-size:200%;"> Founders:
<br>
<br>
</h1>


<p style="font-size:160%;">
Osayi Odiase -
<a href="https://github.com/Oluwa-Temmy">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" style="width:35px;height:35px;"
>
</a>
<br>
<br>
Paola Liveira - paolaoliveira.dev@gmail.com
<a href="https://github.com/apaolaoliveira/apaolaoliveira">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" style="width:35px;height:35px;"
>
</a>

<br>
<br>
Abibat Lateef - abibatlateef2028@u.northwestern.edu

    <br>
<br>
Nina Tsoy -
ms.nina.tsoy@gmail.com

</p>

</body>
</html>
