<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="static/about.css">
</head>
<body>

<h1 style="font-size:360%;text-align:center;">Credit Scores Information </h1>

<h1 style="font-size:200%;text-align:center;">What is the Credit Score (FICO® Score)? <br> </h1>

<p style="font-size:160%;"> A FICO Score is a three-digit number based on the
    information in your credit reports. It helps lenders determine how likely you are to repay a loan.
    This, in turn, affects how much you can borrow, how many months you have to repay, and how much it
    will cost (the interest rate). The base FICO® Scores range from 300 to 850, and the good credit score
    range is 670 to 739. In 2023, the average FICO® Score in the U.S. was 715.
    <br>
</p>

<h1 style="font-size:200%;text-align:center;">Myth debunking - Is it bad to check your credit score? </h1>

<p style="font-size:160%;"> Despite some people's beliefs,it is not bad to check your own credit score and you
     can do so without harming it. Checking your credit score is an important part of monitoring your financial health,
     especially if you're planning to apply for a loan!
     <br>
</p>
<h1 style="font-size:200%;text-align:center;">What affects credit score? </h1>
<p style="font-size:160%;">

Payment history, Credit usage (How many of your accounts have balances, how much you owe),
 Length of credit history (so it might be better to apply for a credit card as early as you can and pay for it on time), Types of accounts, Recent activity
(whether you've recently applied for or opened new accounts)
<br>
<br>
</p>
<p style="font-size:160%;text-align:center;"> <b> However, most importantly - pay on time for your credit cards to keep your credit score high!<b>
