<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="static/about.css">
</head>
<body>

<h1 style="font-size:360%;text-align:center;">Credit Card Rewards from A to Z</h1>

<h1 style="font-size:200%;text-align:center;">What are Credit Card Rewards? <br> <br> </h1>

<p style="font-size:160%;"> Generally, there are two types of Credit Card Rewards:
<br>
<br>
1. Cash back - it offers a percentage of the purchase back in dollars. For example, a 2 percent cash back card would award 2 cents back per dollar spent.
<br>
<br>

2. Points - rewards for spending in the form of points instead of dollars. So it's possible to earn 2X points per dollar on select spending type, such as food
or entertainment. Miles are the same, but mostly for the travel credit cards, with points offered for money spent on vacation.
<br>
<br>
With each type of reward, you earn at a set rate for every dollar you spend. So spend more - earn more!
</p>
<h1 style="font-size:200%;text-align:center;">
    <br>
    How to Redeem Credit Card Points? <br> </h1>

<p style="font-size:160%;">
<br>
    Lots of options - Statement credits, Travel purchases, Shopping portals, Online retailers, Gift cards, Charitable donations - choose any!

</p>
